.team-heading {
  background: linear-gradient(to right, #8D99AE 5%, #6db7e236 40%, #6db7e207 100%), linear-gradient(to left, #8D99AE 5%,  #6db7e236 40%, #6db7e207 100%);
  border-radius: 0;
}

.card-header {
  background-color: #2B2D42;
  text-align: center;
  color: #FFFFFF;
}

i {
  color: #F8F32B;
  font-size: 2rem;
}